@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;	
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(#00ccff,#d400d4);
}
.box
{
	position: relative;
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.5);
	overflow: hidden;
	border-radius: 20px;
}
.box::before
{
	content: '';
	position: absolute;
	width: 150px;
	height: 140%;
	background: linear-gradient(#00ccff,#d400d4);
	animation: animate 4s linear infinite;
}
.box::after
{
	content: '';
	position: absolute;
	inset: 4px;
	background: linear-gradient(to right, #1c87c9, #8ebf42);
	border-radius: 16px;
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
.box h2
{
	position: relative;
	color: #FFF;
	font-size: 10em;
	z-index: 10;	
}